
table{
    table-layout:fixed;
    overflow: hidden;
}

.col-md-8{
    padding-right: 0px;
    height: 700px;
    overflow-y: auto;
}
.col-md-3{
    margin: auto;
    height: 700px;
    overflow-y: auto;
}
tbody{
    tr{
        cursor: pointer;
    }
}
thead{
    color: darkgrey;
}
td{
    font-weight: 500;
}
th.date{
    padding-left: 8%;
}
td.date{
    padding-left: 9%;
    color: darkgray;
    font-weight: 500;
    font-size: small;
}
td.entity{
    span{
        float: right;
        padding-right: 32%;
    }
}
td.dateEmpty{
    color: darkturquoise;
}
img.action{
    margin-right: 15px;
}
button.btn-light{
    float: right;
}