.infoBlock{
    margin-top: 6%;
    background-color: lightgray;
    padding: 19px;
    span{
        color: darkblue;
        font-weight: 600;
        cursor: pointer;
    }
}

.detailText{
    text-align: left;
    color: darkblue;
    padding-top: 10px;
}